body{
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    background-color: rgb(248, 250, 152);
 }
 
 .heading{
     background: rgb(224, 220, 220);
     padding: 1px;
     margin: 12px;
     max-width: 600px;
     text-align: center;
     font-family: Andale Mono, monospace;
     font-size: 30px;
     border-radius: 5px;
     border: 3px solid red;

 }
 
 img{
     display: flex;
     margin: 10px;
     border: 3px solid black;
     border-radius: 5px;
     margin-top: 60px;

 }
 
 ul{
     display: flex;
     justify-content: center;
     align-content: center;
     list-style-type: none;  
 }
 
 
a{
     font-size: 60px;
     color: rgb(57, 38, 168);
     border-radius: 5px;
     line-height: 150px;
     
 }

.made-by{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 600;
}