body{
   margin: 0 auto;
   max-width: 600px;
}

.heading{
    background: rgb(224, 220, 220);
    padding: 1px;
    margin: 12px;
    max-width: 600px;
    text-align: center;
    font-family: Andale Mono, monospace;
    font-size: 30px;
    border-radius: 5px;
    border-bottom: 1px solid black;

}

